$ruler: 13px;
$color-bg: #ffffff;
$color-shadow: #babecc;
$color-white: #fff;


.react-date-picker {
  width: 100%;
}

.react-date-picker__wrapper {
  font-family: "SUIT-Medium";
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: $ruler*2;
  padding: $ruler * 0.5;
  background-color: $color-bg;
  text-shadow: 1px 1px 0 $color-white;
}

.react-date-picker__wrapper {
  box-shadow: inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

  &:focus {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }
}
