.weather-widget {
  width: 280px;
  height: 140px;
  background-color: #b7cfe5;
  border-radius: 20px;
}

.location-display {
  margin: 10px 0 0 15px;
  background-color: transparent;
  color: #ffffff;
  font-size: 19px;
  font-family: "SUIT-Medium";
}

.main-display {
  margin: 0 20px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-info {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.weather-display {
  display: flex;
  align-items: center;
}

.day-display {
  cursor: pointer;
  margin: 10px auto;
  font-family: "SUIT-Medium";
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selection-days {
  margin: 0 8px;
  text-align: center;
}

.selected {
  color: #fff;
  transition: all 0.3s ease-in-out;
}
